<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{asset('css/accueil.css')}} ">
    <link rel="icon" type="image/png" href=" {{asset('logo_icone.png')}} " />
    <title>Agena 3000</title>
    
</head>
<body>

    <div id="contenu">
        <img src=" {{ asset('agena_logo.png') }} " alt="" class="agena3000">
        <img src=" {{ asset('images/hand-coding.svg')}}" class="imageCentrale">
        <a href=" {{ path('connexion') }} " ><div id="bouton"> Connexion </div></a>
    </div>
    
    
</body>
</html>